body {
  overflow: hidden;
  // 禁止浏览器双指滑动前进后退事件
  overscroll-behavior-x: none;
}

.view {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .designer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .loading {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #999;
    }
  }
}

:global {
  div[class^=designer] div[class^=lyMain] div[class^=lyStage] div[class^=navs] {
    z-index: 999;
  }
  #root > div > div > div.designer_zDS4l > div > blockquote > div.lyMain-ae66e > div.lyStage-bcb68 > div.navs-c3f4d.navFloat-c294c > div > div > div.comlibs-d201b > div:nth-child(1) {
    display: none;
  }
}
